<%#
# To change this template, choose Tools | Templates
# and open the template in the editor.
%>

<h1><%=  t 'admin.title_colletion' %></h1>
<div id="subNav">
  <ul>
        <li class="selected"'><%= link_to "New item" ,new_collection_path %> </li>
 </ul>
</div>

