<%- if logged_in? -%>
  <%=  render  :partial => 'admin'  %>
<% end  %>


 <%=  render  :partial => 'alphabet_carousel'  %>        
 <div id ="list_items">
      <%=  render  :partial => 'items_list'  %>
 </div>

