<h1>Administrator Console</h1>
<div id="administratorList">
      <ul>
            <li><%= link_to  t( 'admin.title_colletion') ,collection_path %></li>
            <li><%= link_to  t('admin.title_category'), categories_path %></li>
            <li><%= link_to  t( 'admin.title_genre'), genres_path %></li>
       </ul>
</div>
