<%#
# To change this template, choose Tools | Templates
# and open the template in the editor.
%>
<h1>Category </h1>
  <%= render :partial => 'subnav'  %>
<br/>
<h2><%= @category.name %></h2>

<p><%= simple_format @category.description %></p>
  